# Experiment 3

##### Aim : Implementation of data operations in pandas

## File Operations

In [1]:
import pandas as pd

### Read CSV file

In [2]:
df_csv = pd.read_csv('Mall_Customers_data.csv')

In [3]:
df_csv

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

### Read JSON file

In [4]:
df_json = pd.read_json('iris.json')

In [5]:
df_json

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

### Read HTML file

In [27]:
from bs4 import BeautifulSoup

html_file_path = 'sample.html'

with open(html_file_path, 'r') as html_file:
    soup = BeautifulSoup(html_file, 'html.parser')
    # You can now navigate and extract data from the HTML using BeautifulSoup

# Example: Print the title of the HTML document
title_tag = soup.title
if title_tag:
    print(f"Title: {title_tag.text}")
else:
    print("No title tag found in the HTML.")

# Example: Print all the paragraphs in the HTML document
paragraphs = soup.find_all('p')
if paragraphs:
    print("Paragraphs:")
    for paragraph in paragraphs:
        print(paragraph.text)
else:
    print("No paragraphs found in the HTML.")

Title: Document
Paragraphs:
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam obcaecati cupiditate asperiores odio atque ipsam molestiae ipsa, numquam aliquam nostrum facilis consectetur officiis provident veniam id aperiam laborum sequi quam?

### Read XML File

In [28]:
import xml.etree.ElementTree as ET

xml_file_path = 'sample.xml'

tree = ET.parse(xml_file_path)
root = tree.getroot()

# Example: Print the root tag of the XML document
print(f"Root Tag: {root.tag}")

# Example: Print all child elements of the root
print("Child Elements:")
for child in root:
    print(child.tag, child.attrib)

# Example: Extract and print specific data (adjust based on your XML structure)
for person in root.findall('.//person'):
    name = person.find('name').text
    age = person.find('age').text
    print(f"Person: {name}, Age: {age}")

Root Tag: catalog
Child Elements:
book {'id': 'bk101'}
book {'id': 'bk102'}
book {'id': 'bk103'}
book {'id': 'bk104'}
book {'id': 'bk105'}
book {'id': 'bk106'}
book {'id': 'bk107'}
book {'id': 'bk108'}
book {'id': 'bk109'}
book {'id': 'bk110'}
book {'id': 'bk111'}
book {'id': 'bk112'}

### Read DOC file

In [19]:
pip install python-docx

Collecting python-docx
  Using cached python_docx-1.1.0-py3-none-any.whl (239 kB)
Requirement already satisfied: typing-extensions in c:\anaconda\lib\site-packages (from python-docx) (4.1.1)
Requirement already satisfied: lxml>=3.1.0 in c:\anaconda\lib\site-packages (from python-docx) (4.8.0)
Installing collected packages: python-docx
Successfully installed python-docx-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [26]:
from docx import Document

doc = Document('non verbal codes.docx')

data = []
for paragraph in doc.paragraphs:
    data.append({'paragraph': paragraph.text})

df_doc = pd.DataFrame(data)

doc