# Experiment 11

In [1]:
import pandas as pd
data = {
    'values': [10, 20, 30, 40, 50],
    'index_col_1': ['A', 'A', 'B', 'B', 'C'],
    'index_col_2': [1, 2, 1, 2, 1]
}
df = pd.DataFrame(data)

#### Mean

In [2]:
mean_value = df['values'].mean()
print("Mean:", mean_value)

Mean: 30.0

#### Median

In [3]:
median_value = df['values'].median()
print("Median:", median_value)

Median: 30.0

#### Min

In [4]:
min_value = df['values'].min()
print("Min:", min_value)

Min: 10

#### Max

In [5]:
max_value = df['values'].max()
print("Max:", max_value)

Max: 50

#### Sum

In [6]:
sum_value = df['values'].sum()
print("Sum:", sum_value)

Sum: 150

#### Setting Multi-Index in a DataFrame and Displaying with Index Names

In [7]:
df.set_index(['index_col_1', 'index_col_2'], inplace=True)
print("Multi-Index DataFrame:")
print(df)

Multi-Index DataFrame:
                         values
index_col_1 index_col_2
A           1                10
            2                20
B           1                30
            2                40
C           1                50

#### Extracting Group Keys from Multi-Index DataFrame

In [8]:
group_keys = df.groupby(level=['index_col_1', 'index_col_2']).groups.keys()
print("Group Keys:", list(group_keys))

Group Keys: [('A', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 1)]

#### Count

In [9]:
count_values = df['values'].count()
print("Count:", count_values)

Count: 5

#### Average

In [10]:
average_value = df['values'].mean()
print("Average:", average_value)

Average: 30.0

#### Correlation Matrix

In [11]:
corr_matrix = df.corr()
print("Correlation Matrix:\n", corr_matrix)

Correlation Matrix:
         values
values     1.0

#### Droping NaN values

In [12]:
df.dropna(inplace=True)
print("DataFrame after dropping NaN values:")
print(df)

DataFrame after dropping NaN values:
                         values
index_col_1 index_col_2
A           1                10
            2                20
B           1                30
            2                40
C           1                50

#### Squeezing DataFrame

In [13]:
df_squeezed = df.squeeze()
print("Squeezed DataFrame:")
print(df_squeezed)

Squeezed DataFrame:
index_col_1  index_col_2
A            1              10
             2              20
B            1              30
             2              40
C            1              50
Name: values, dtype: int64